/* === GLOBAL CSS === */
html {
    box-sizing: border-box;

    font-size: 62.5%;
    /* ^ make root fz 10px for neater rem values */
    /* does not change root px for any element other than text (i.e. spacing rem) */
}
*, *::before, *::after { box-sizing: inherit; }
img { max-width: 100%; }
/* ================== */

body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 1.8rem;
}

.user{
    margin: 20px auto;
}

.user>img{
    float: left;
    border: medium solid white;
    border-radius: 50%;
    width: 80px;
}

main>div{
    width: 370px;
    margin: 10px; /* temp */
    background-color: hsl(235, 46%, 20%);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: hsl(235, 45%, 61%);
}
a:hover, a:focus{
    color: white;
}

.user{
    background-color: hsl(246, 80%, 60%);
}

.category-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ellipses{
    width: 21px;
    height: 5px;
    fill: #BBC0FF;
}
.ellipses:hover{
    fill: white;
    cursor: pointer;
}


/* .card:hover{
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
} */
/* NOTE - FIGURE OUT HOW TO ISOLATE HOVER STATE B/T CARD AND ELLIPSES */
/* maybe just..invisible div of the exact same shape and size that appears when time-txt is hovered and disappears when category-txt is? so u can do the 'hover on Everything But' thing andHelp */

footer {
    font-size: 11px;
    text-align: center;
}
