/* === GLOBAL CSS === */
html {
    box-sizing: border-box;

    font-size: 62.5%;
    /* ^ make root fz 10px for neater rem values */
    /* does not change root px for any element other than text (i.e. spacing rem) */
}
*, *::before, *::after { box-sizing: inherit; }
img { max-width: 100%; }

/* variables */
:root{
    --primary-blue: hsl(246, 80%, 60%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --card-padding: 2.45rem;
}
/* ================== */

body{
    background-color: var(--very-dark-blue);
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 1.8rem;
}

/* font styling */
small{
    font-size: 1.45rem;
    font-weight: 400;
    color: var(--pale-blue);
}
h2{
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.25;
    margin: 0;
}
h3{
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}
p{
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.5;
    margin: 0;
}
/*==============*/

header{
    background-color: var(--dark-blue);
}

ul{
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: var(--card-padding);
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--desaturated-blue);
}
a:hover, a:focus{
    color: white;
}

button{
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
button:hover > svg,
button:focus > svg{
    fill: white;
}

/* personal notes--
general bg syntax order:
   1. bg-image
   2. bg-pos
   3. bg-size
   4. bg-repeat
   5. bg-attachment
   6. bg-origin
   7. bg-clip
   8. bg-color
*/

section:nth-of-type(1){
    background-color: hsl(15, 100%, 70%);
    background-image: url(../images/icon-work.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top -1.1rem;
        padding-top: 3.9rem;
}
section:nth-of-type(2){
    background-color: hsl(195, 74%, 62%);
    background-image: url(../images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top -0.5rem;
        padding-top: 3.9rem;
}
section:nth-of-type(3){
    background-color: hsl(348, 100%, 68%);
    background-image: url(../images/icon-study.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top -0.6rem;
        padding-top: 3.9rem;
}
section:nth-of-type(4){
    background-color: hsl(145, 58%, 55%);
    background-image: url(../images/icon-exercise.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top;
        padding-top: 3.9rem;
}
section:nth-of-type(5){
    background-color: hsl(264, 64%, 52%);
    background-image: url(../images/icon-social.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top -1.45rem;
        padding-top: 3.9rem;
}
section:nth-of-type(6){
    background-color: hsl(43, 84%, 65%);
    background-image: url(../images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: right calc(var(--card-padding) - 0.5rem) top -1rem;
        padding-top: 3.9rem;
}

.card{
    width: 34rem;
    margin: 2.5rem auto;
    border-radius: 1.5rem;
}
.user{
    background-color: var(--primary-blue);
    border-radius: 1.5rem;
    padding: calc(var(--card-padding) + 0.5rem);

    display: flex;
}
.user>img{
    border: medium solid white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 7.2rem;
    margin-right: 2rem;
}

.card-on-card{
    background-color: var(--dark-blue);
    border-radius: 1.5rem;
    padding: var(--card-padding);
}

.center-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ellipses{
    width: 2.1rem;
    height: 0.5rem;
    fill: var(--pale-blue);
    vertical-align: middle;
}


.card-on-card:hover{
    background-color: hsl(235, 43%, 36%);
    cursor: pointer;
}
/* NOTE - FIGURE OUT HOW TO ISOLATE HOVER STATE B/T CARD AND ELLIPSES */
/* maybe just..invisible div of the exact same shape and size that appears when time-txt is hovered and disappears when category-txt is? so u can do the 'hover on Everything But' thing andHelp */

footer {
    font-size: 11px;
    text-align: center;
}

/* NOTE - media queries for desktop ver here */
/* - consider clamp for font size */
/* - figure out grid..... */
@media(min-width:650px){
    main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    header{
        grid-row: span 2;
    }
}